@import url(http://fonts.googleapis.com/css?family=Open+Sans|Inconsolata);

body {
    font-family: "Open Sans", "DejaVu Sans", Helvetica, sans-serif;
}
header h1 {
    font-weight: normal;
    margin-top: 0;
    margin-top: 9px;
}
header.page-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.jumbotron {
    border-radius: 2px;
    margin-top: 40px;
}
.jumbotron h1 {
    font-size: 3.8rem;
    font-weight: normal;
}
.jumbotron label {
    font-weight: normal;
}
.jumbotron p {
    margin-top: 20px;
    text-align: center;
}
#triangleDisplay {
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: 10px;
    overflow: auto;
}
.pascal-col {
    display: inline-block;
}
#triangleSidebar {
    border-right: 1px solid #dddddd;
    background: #fdfdfd;
}
#triangleSidebar button {
    margin-top: 7px;
}
@media screen and (min-width: 900px) {
    #triangleSidebar {
        min-height: 91vh;
    }
}